iot.txt
[{"id":"2ad88e4d.036772","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"59b1b34f.a9821c","type":"inject","z":"2ad88e4d.036772","name":"Ligar","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":460,"wires":[["a20be5aa.aa0018"]]},{"id":"13522300.faedbd","type":"inject","z":"2ad88e4d.036772","name":"Desligar","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":560,"wires":[["a20be5aa.aa0018"]]},{"id":"8ae9d46f.e11c98","type":"mqtt in","z":"2ad88e4d.036772","name":"recebe comando","topic":"vaga7","qos":"2","broker":"c0dfb67e.d66188","x":100,"y":700,"wires":[["5ffb8c05.bf4444","4c0db399.fad51c"]]},{"id":"5ffb8c05.bf4444","type":"debug","z":"2ad88e4d.036772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":250,"y":860,"wires":[]},{"id":"4c0db399.fad51c","type":"switch","z":"2ad88e4d.036772","name":"Condição","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":300,"y":680,"wires":[["1100bc3b.d275c4","7533e557.97af7c"],["7533e557.97af7c","a594293a.642a78"]]},{"id":"1100bc3b.d275c4","type":"function","z":"2ad88e4d.036772","name":"Ligar","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":740,"wires":[["b0a9b834.6fa5d8"]]},{"id":"b0a9b834.6fa5d8","type":"arduino out","z":"2ad88e4d.036772","name":"ledverde13","pin":"10","state":"OUTPUT","arduino":"118a3fcd.86455","x":710,"y":740,"wires":[]},{"id":"7533e557.97af7c","type":"arduino out","z":"2ad88e4d.036772","name":"LEDVERMELHO","pin":"9","state":"OUTPUT","arduino":"118a3fcd.86455","x":720,"y":640,"wires":[]},{"id":"a594293a.642a78","type":"function","z":"2ad88e4d.036772","name":"Desligar","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":860,"wires":[["b0a9b834.6fa5d8"]]},{"id":"a20be5aa.aa0018","type":"mqtt out","z":"2ad88e4d.036772","name":"vaga7","topic":"vaga7","qos":"","retain":"","broker":"c0dfb67e.d66188","x":450,"y":500,"wires":[]},{"id":"adab55de.e986c8","type":"mqtt in","z":"2ad88e4d.036772","name":"","topic":"tempcld","qos":"2","broker":"c0dfb67e.d66188","x":230,"y":1080,"wires":[["57ae2873.90ec18","66ec6f3.82f3c9","ad752301.3c1ed"]]},{"id":"57ae2873.90ec18","type":"debug","z":"2ad88e4d.036772","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":1080,"wires":[]},{"id":"fdeec77.3e86e38","type":"ui_button","z":"2ad88e4d.036772","name":"","group":"c99669a9.3db9d8","order":0,"width":"3","height":"1","passthru":false,"label":"LIGAR","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":230,"y":1220,"wires":[["88c69c2d.f9def"]]},{"id":"e8010efb.8e197","type":"ui_button","z":"2ad88e4d.036772","name":"","group":"c99669a9.3db9d8","order":0,"width":"3","height":"1","passthru":false,"label":"DESLIGAR","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":210,"y":1300,"wires":[["88c69c2d.f9def"]]},{"id":"88c69c2d.f9def","type":"mqtt out","z":"2ad88e4d.036772","name":"","topic":"vaga7","qos":"","retain":"","broker":"c0dfb67e.d66188","x":420,"y":1260,"wires":[]},{"id":"66ec6f3.82f3c9","type":"ui_gauge","z":"2ad88e4d.036772","name":"","group":"c99669a9.3db9d8","order":0,"width":0,"height":0,"gtype":"donut","title":"TEMPERATURA","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":440,"y":1000,"wires":[]},{"id":"ad752301.3c1ed","type":"firebase modify","z":"2ad88e4d.036772","name":"","firebaseconfig":"","childpath":"temperatura","method":"set","value":"msg.payload","priority":"msg.priority","x":710,"y":1160,"wires":[[]]},{"id":"c0dfb67e.d66188","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"118a3fcd.86455","type":"arduino-board","z":"","device":"COM3"},{"id":"c99669a9.3db9d8","type":"ui_group","z":"","name":"FIAP","tab":"f8ccb7cf.575738","disp":true,"width":"6","collapse":false},{"id":"f8ccb7cf.575738","type":"ui_tab","z":"","name":"Sala 202","icon":"dashboard"}]